name: Dependencies Example

on:
  workflow_dispatch:

jobs:
  nodejs:
    runs-on: ubuntu-latest
  
    strategy:
      matrix:
        node-version: ['18.x', '20.x']

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install

      - name: Show listing and contents
        run: ls -alhR
